@model DetailPieVM

<h2>@Model.Pie.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Pie.Name" src="@Model.Pie.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Pie.Price.ToString("c")</h3>
        <h3>
            <a href="#">@Model.Pie.Name</a>
        </h3>
        <h4>@Model.Pie.ShortDescription</h4>
        <p>@Model.Pie.LongDescription</p>
    </div>
</div>

<div class="row">
    <h2>Reviews about this Pie</h2>

    {
    @foreach (var review in Model.Pie.PieReviews)
    {
        <p>@review.Review</p>
    }

</div>


<form asp-controller="Pie" asp-action="Details" method="post" class="form-horizontal" role="form">
    <h4>Write a review</h4>
    <hr />
    <input type="hidden" asp-for="@Model.Pie.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Review" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Review" class="form-control" />
            <span asp-validation-for="Review" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send review" />
        </div>
    </div>

</form>
